.homepage-container{
	margin: 0;
	background-color: #e5e5f7;
	opacity: 1;
	background-image:  radial-gradient(#3b3b3b 1px, transparent 1px), radial-gradient(#3b3b3b 1px, #171717 1px);
	background-size: 40px 40px;
	background-position: 0 0,20px 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

